#profile-header-name {
  font-size: 20px;
  padding-top: 20px;
}
.cheader-wrapper {
  width: 100%;
  background-color: transparent;
}
#header-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 130px;
  font-family: Wemakeprice-SemiBold;
  background-color: transparent;
  padding-top: 20px;
}
.header-line {
  color: #5f5d5d;
  margin-top: -27px;
}
.header-nav {
}
