/* 탐색 페이지 최상위 태그 / 가운데정렬 */
.profile-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* width가 768보다 작으면 가로길이에 맞게 width 조정 */
@media only screen and (max-width: 768px) {
  .profile-row {
    width: 100%;
    margin-bottom: 50px;
  }
  .foprofileod-col {
  }
}

/* width가 768보다 크면 가로길이를 768px로 고정 */
@media only screen and (min-width: 768px) {
  .profile-row {
    width: 768px;
    margin-bottom: 50px;
  }
  .profile-col {
  }
}

/* .profile{
    margin-top: 90px;
} */
