.detail-presenter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  #detail-presenter-row {
    width: 100%;
  }
}
::-webkit-scrollbar {
  display: none;
}
